# Project
src/app/config/client_secret.json

# General
.DS_Store
ehthumbs.db
Icon
Thumbs.db
.tmtags
.idea
tags
vendor.tags
tmtagsHistory
*.sublime-project
*.sublime-workspace
.bundle
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
